<div class="ui hidden divider"></div>
<div class="four wide column">
  <div class="row" id="left-content">
    <h5>My Playlist</h5>
    <div class="ui celled list">
      <div class="item">Cats</div>
      <div class="item">Horses</div>
      <div class="item">Dogs</div>
    </div>
  </div>
</div>

<div class="twelve wide column">
  <div class="row" id="main-content">
    <h3>Courses</h3>

    <div class="ui divided items">
      <div class="item">
        <div class="image">
          <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
          <a class="header">Header</a>
          <div class="meta">
            <span>Description</span>
          </div>
          <div class="description">
            <p></p>
          </div>
          <div class="extra">
            Additional Details
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="/images/wireframe/image.png">
        </div>
        <div class="content">
          <a class="header">Header</a>
          <div class="meta">
            <span>Description</span>
          </div>
          <div class="description">
            <p></p>
          </div>
          <div class="extra">
            Additional Details
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p><%= link_to "Log out", logout_path, method: "delete" %></p>